<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab Two
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>Ingrediente</p>
    <small> Considere o valor que você pagou no ingrediente</small>
    <form [formGroup]="form">
        <div class="form-group">
            <label>Nome: </label>
            <ion-input type="text" [formControlName]="'name'"></ion-input>
        </div>
        <div class="form-group">
            <label>Quantidade</label>
            <ion-input type="number" [formControlName]="'quantity'"></ion-input>
        </div>
        <div class="form-group">
            <label>Medida: </label>
            <select>
                <option *ngFor="let quant of quantity" value="{{quant.value}}"><{{quant.label}}/option>
            </select>
        </div>
        <div class="form-group">
            <label>Valor: </label>
            <ion-input type="text" [formControlName]="'value'"></ion-input>
        </div>
    </form>
</ion-content>
